<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ ASSET_PATH }}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ ASSET_PATH }}/css/main.css">

        <link rel="stylesheet" href="{{ ASSET_PATH }}/css/font-awesome.min.css">
        <!--[if IE 7]>
        <link rel="stylesheet" href="{{ ASSET_PATH }}/css/font-awesome-ie7.min.css">
        <![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Podkova:400,700|Ranchers' rel='stylesheet' type='text/css'>


    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.title }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Peter Hudson<br />
                A jack of all trades and a master of none.<br />
                {{ site.author.email }}
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/{{ site.author.github }}">github.com/{{ site.author.github }}</a><br />
                <a href="https://twitter.com/{{ site.author.twitter }}">twitter.com/{{ site.author.twitter }}</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
